body {
  padding: 50px;
  font: 14px "Rubik", Helvetica, Arial, sans-serif;
  background-color: #FAFAFA;
}

a {
  color: #00B7FF;
}

h1 {
  padding: 5px;
  margin: 2px;
  color: #cc0000;
}

li {
  padding: 10px;
  margin: 5px;
}
